	<h1><%= "Concert Number: #{params[:id]}" %></h1>
	
	<b><%= @concert.name %></b>
		<br>
		<%= @concert.date %>
		<%= @concert.artist %>
		<br>
		<%= @concert.venue %>
		<%= @concert.city %> 
		<br>
		<%= @concert.ticketprice %>
		<%= @concert.description %></li>
		<br>
	
